/* Aplicando estilos al contenedor de nuestro elemento clase */
.main-nav{
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
  background-color: lawngreen;
}

/* Aplicando estilos a los li del contenedor del elemento clase */
.main-nav__item {
  display: inline-block;
}

/* Aplicando estilos específicos en CSS a etiquetas a que están dentro de este elemento */
.main-nav__item a{
  color: coral;
  padding: 5px;
  border-radius: 2px;
  text-decoration: none;
}

/*Pseudoclase*/
.main-nav__item a:hover {
  color: black;
}

.main-nav__item a:active {
  color: darkred;
}

/*PseudoElemento*/
.main-nav__item a::after {
  content: " | " ;
}