/* Aplicando estilos al contenedor de nuestro elemento clase */
.main-nav{
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
  background-color: lawngreen;
}

/* Aplicando estilos a los li del contenedor del elemento clase */
.main-nav__item {
  display: inline-block;
}


