* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem; /*1.6rem -> 16 pixeles*/
}

.container {
  border: 0.3rem solid black; /*0.3rem -> 3 piexeles*/
  display: flex;
  /*align-items: baseline;*/
  /*height: 50vh;*/ /*50vh -> 50 % de la pantalla*/
  flex-wrap: wrap;
  
}

.box {
  /*width: 10rem;*/ /*10rem -> 100 pixeles*/
  height: 10rem;
  flex-basis: 10rem;
  flex-grow: 1;
}

.box1 {
  background-color: blue;
  /* order: 1; */
  /* flex-grow: 1; */
}

.box2 {
  background-color: blueviolet;
  /* order: 3; */
  /* flex-grow: 1; */
}

.box3 {
  background-color: brown;
}

.box4 {
  background-color: cyan;
}

.box5 {
  background-color: darkgreen;
  /* order: 4; */
}

.box6 {
  background-color: fuchsia;
  /* order: 2;*/
} 